
/** HEADER **/
#header-nav {
	border: 2px solid black;
	background-color: orange;
}

.navbar-header {

}

.navbar-default .navbar-brand h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1em;
  color: black;
}


#collapsable-nav div {

}

.navbar-default div.navbar-collapse
{
/*    border-top: 2px solid black;
    box-shadow: none;
    background-color: yellow;
*/}

#nav-list hr {
	margin-top: 4px;
	margin-bottom: 4px;
	border-top: 2px solid black;
}
.nav-list-item {

}
.page-header {
	border: 0px;
	font-size: 1.5em;
	color: black;
}
#main-content {
	min-height: 1000px;
}

#main-content div h2 {
	font-size: 1.5em;
	font-weight: 900;
}

#main-content section {
	background-color: #eeeeee;
}

#main-content section h3 {
	text-align: center;
	font-size: 1.1em;
	font-weight: 900;
}

